* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );

  min-height: 100vh;
}

.page {
  width: 1040px;
  margin: 0px auto;
  padding-top: 64px;
}

/* Check margin */
nav {
  font-family: "Mulish", sans-serif;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Check list styling */
nav ul {
  display: flex;
  gap: 48px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Check list link style */
nav ul li a {
  color: #1f1534;
  text-decoration: none;
}

/* Make text bold on hover */

nav ul li #active {
  font-weight: 700;
}

nav ul li a:hover {
  font-weight: 700;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}

main .text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

main .text .heading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Check margin and font styling */
.text h1 {
  font-family: "Mulish", sans-serif;
  font-size: 48px;
  font-weight: normal;
}

/* Check font styling */
.text h1 span {
  color: #89c5cc;
  font-weight: 700;
}

/* Check font styling */
.text p {
  font-family: "Open Sans", sans-serif;
  color: #7d7987;
}

/* Check font styling and make sure the button is rounded */
.text button {
  font-family: "Open Sans", sans-serif;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 10rem;

  color: #ffffff;
  background-color: #69b99d; /* Green */
  border: none;
  border-radius: 4px;
  padding: 14px 32px;
}

/* Handle when user hover on the button */
.text button:hover {
}

/* Check the text styling */
footer {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* Check the text styling */
footer a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
